body {
    background-color: #707070;
    margin: 0;
}

.main {
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
}

.topnav button {
  font-family: Arial, Helvetica, sans-serif;
  height: 30px;
  width: 120px;
}

p1 {
  color: #707070;
}


.stoper {
  height: 120px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #474747;
  color: white;
  text-align: left;
}

.stoper div {
  display: inline-block;
}

.stoper img {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 60px;
  height: 110px;
  border-radius: 15px;
}

#slider {
  margin-bottom: 12px;
}

#slider img{
  border-radius: 25px;
}

#btnslajd {
    display: block;
}

#btnHK {
    display: none;
}

#btnDMC {
    display: none;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li span:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}