.textRed {
    color: red;
}

.button {
margin-top: 1rem;
background-color: lightcyan;
font-size: 2rem;
}

.textGreen {
    color: green;
}
.maindiv {
    font-size: xx-large;
    text-align: center;
    margin: auto;
    margin-top: 12%;
    width: 60%;
}